#timeline {
    background-color: #cfddfc;
    width: 852px;
    height: 400px;
    position: relative;
    margin-bottom:20px;
}

#timelineCanvas {
    position: absolute;
}

#timelineImage {
    position: absolute;
    z-index: 10;
    bottom: 2px;
    left: -2px;
}

#trashcan {
    position: absolute;
    opacity: 0.4;
    border-radius: 10px;
}
#trashcan:hover {
    opacity: 1.0;
}

.staticIcon {
    position: absolute;
    z-index: 11;
    border-radius: 5px;
}

.icon {
    position: absolute;
    opacity:0.4;
    border-radius: 10px;
}

.icon:hover {
    opacity:1.0;
}

#note {
    position: absolute;
    z-index: 20;
}
